<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">
      <img src="cutm_logo.png" alt="Logo" class="navbar-logo">
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a routerLink="/home">Home</a></li>
      <li class="navbar-item"><a routerLink="/about">About Us</a></li>
      <li class="navbar-item"><a routerLink="/learning">Learning</a></li>
      <li class="navbar-item"><a routerLink="/login">Login</a></li>
      <li class="navbar-item"><a routerLink="/signup">Sign Up</a></li>
    </ul>
  </div>
</nav>