.navbar {
  margin-top: 10px;
  background-color: #ffffff;
  padding: 1rem;
  height: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-item a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar-item a:hover {
  background-color: #575757;
}

.navbar-logo {
  height: 100px;
  width: 80px;
  margin-right: 10px;
}
