.navbar {
    background-color: #4ed720;
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-item a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  
  .navbar-item a:hover {
    background-color: #575757;
  }