.home-container {
    background-image: url('home-bg.jpg'); /* Replace with the actual path to your image */
    margin-top: 10px;
    height: 500px; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white; /* Adjust text color for better visibility */
    text-align: center;
  }
  
  