<div class="login-container">
    <div class="login-left">
      <img src="logsignbg.png" alt="Background Image" class="login-image" />
    </div>
    <div class="login-right">
      <div class="logo-container">
        <img src="cutm_logo.png" alt="University Logo" class="university-logo" />
      </div>
      <h2>Welcome Back</h2>
      <form class="login-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Example@email.com" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="at least 8 characters" required />
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button type="submit" class="sign-in-btn">Sign in</button>
      </form>
      <p class="sign-up-text">
        Don't you have an account? <a routerLink="/signup">SignUp</a>
      </p>
    </div>
  </div>
  